

body {
  background-image: url("/src/photo/constructii_5_large.jpg") ;
}

.App {
  text-align: center;
  background-color: #f8f8f8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2); /* Transparent black background */
  padding: 10px 0;
  z-index: 1000; /* Ensure the navbar is above other content */
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.left-nav {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Add this line */
}

.post-offer{
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: #127e80;
  color: white;
}

.post-offer:hover {
  background: #fa6900;
}

.join-us{
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
  background: #fa6900;
  color: white;
}

.join-us:hover {
  background: #127e80;
}

.logo {
  text-decoration: none;
  color: white;
  text-align: center ; 
  /* margin-right: auto; Remove this line */
}

.logo-img {
  max-width: 100px; /* Adjust the maximum width as needed */
  height: auto; /* Maintain the aspect ratio */
  text-align: center ;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li:last-child {
  margin-right: 0;
}

.nav-links a {
  text-decoration: none;
  color: rgb(254, 250, 250);
  font-weight: bold;
}

/* Add hover effect if needed */
.nav-links a:hover {
  color: #fa6900;
}

