body {
  font-family: "Trebuchet MS", sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-custom {
  background-color: rgba(255, 255, 255, 0.25);
}

.btn-primary {
  --bs-btn-bg: #fa6900;
  --bs-btn-hover-bg: rgba(18, 126, 128, 0.4);
  --bs-btn-hover-border-color: #127e80;
  --bs-btn-border-color: #fa6900;
}

.card-title {
  font-family: Arial, sans-serif;
}

.achievement-number {
  font-size: 65px;
}

.pulse {
  display: block;
  margin: auto;
  width: 130px;
  height: auto;
  margin-bottom: 10px;
  animation: pulse 1s infinite alternate; /* Apply the pulsating animation */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.bg-primary {
  background-color: #127e80 !important;
}
