/* Main Page */

/* Video,Slogan and Post Button */
video {
    position: relative; /* Keep the position relative */
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .slogan {
    position: absolute;
    top: 45%; /* Position it 50% from the top */
    left: 50%; /* Position it 50% from the left */
    transform: translate(
      -50%,
      -50%
    ); /* Center it both horizontally and vertically */
    z-index: 2; /* Place it above the video (z-index: 1) */
    color: white; /* Set the text color */
    font-size: 80px; /* Adjust the font size as needed */
    text-align: center; /* Center-align the text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow for readability */
    font-family: Arial, sans-serif; /* Set the font to Arial */
    font-weight: bold; /* Make the text bold */
  }
  
  .post-offer {
    background-color: #fa6900;
    color: white;
    padding: 30px 20px;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  
    transform: translate(
      0%,
      -410%
    ); /* Center it both horizontally and vertically */
    transition: background-color 0.5s; /* Smooth hover effect */
  }
  
  .post-offer:hover {
    background: rgba(
      18,
      126,
      128,
      0.3
    ); /* Dark green background with 70% opacity on hover */
    color: white; /* Text color on hover (you can adjust it if needed) */
  }
  
  /* Achievement Section */
  
  .achievementsSoFar {
    text-align: center; /* Center-align the text */
    font-size: 65px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    margin-bottom: 60px; /* Add margin at the bottom */
    font-family: "Trebuchet MS", sans-serif;
  }
  
  .icon {
    display: block;
    margin: auto;
    width: 130px;
    height: auto;
    margin-bottom: 10px;
    animation: pulse 2s infinite alternate; /* Apply the pulsating animation */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
  
  .achievements {
    display: flex;
    justify-content: space-between;
  }
  
  .achievements .achievement-group {
    flex-basis: calc(60% - 10px); /* 50% width with a small gap in between */
    margin-bottom: 5px;
  }
  
  .countriesNumber,
  .workersNumber,
  .customersNumber {
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 5px;
    font-family: "Trebuchet MS", sans-serif;
  }
  
  .countriesString,
  .workersString,
  .customersString {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 28px;
  }
  
  /* Partners and Media Section */
  
  .partnersMedia {
    background-color: #127e80;
    margin-top: 60px;
    left:250px;
  }
  
  .partnersMediaTitle {
    color: #ffffff;
    text-align: center; /* Center-align the text */
    font-size: 40px; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold */
    font-family: "Trebuchet MS", sans-serif;
    padding-top: 60px;
    padding-bottom: 30px;
  }
  
  .logo-partner {
    width: 110px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin: 0 100px 30px; /* Adjust the margin between logos as needed */
    display: inline; /* Display logos inline */
    transition: transform 0.2s ease; /* Add smooth transition on hover */
  }
  
  .logo-partner:hover {
    transform: scale(1.1); /* Increase size on hover */
  }